<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<nav>
  <ul>
    <li><a href="/profile">profile</a></li>
    <li><a href="/logout">log out</a></li>
  </ul>
</nav>

<h2>GALLERY</h2>

<p> Choose a performance: </p>

<form action="/gallery" method="POST">
<ul>
  {% for performance in performancesList %}
  <li>
  <input type="radio" name="performance" value={{performance.performance_id}} required> {{ performance.name }}, {{ performance.category }}
  </li>
  {% endfor %}
</ul>
<p>
<input type="submit" value="View picture">
</form>

{% endblock %}
