<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Log in{% endblock %}

{% block content %}

<nav>
  <ul>
    <li><a href="/">front page</a></li>
    <li><a href="/register">register user</a></li>
    <li><a href="/checkpoints">explore checkpoints</a></li>
  </ul>
</nav>

<h2>LOG IN</h2>

{{ message }}

<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

{% endblock %}
